body {
    font-family: 'Lucida Grande', sans-serif;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 24pt;
    padding: 15px 0;
}

#search-section {
    background-color: #eee;
    padding: 15px;
}

#search-section h5 {
    font-weight: bold;
    font-size: 14pt;
}

#city-info {
    margin: 15px;
}

.card-title {
    font-weight: bold;
    font-size: 22pt;
}

#date {
    font-weight: normal;
    font-size: 15pt;
}

.card img {
    margin-left: 10px;
}

p.card-subtitle {
    margin: 20px 0;
    font-size: 11pt;
}

.badge.badge-extreme {
    padding: 10px;
    font-weight: normal;
    background-color: #cc0000;
    color: white;
}

.badge.badge-high {
    padding: 10px;
    font-weight: normal;
    background-color: darkorange;
    color: white;
}

.badge.badge-moderate {
    padding: 10px;
    font-weight: normal;
    background-color: #EDF035;
    color: black;
}

.badge.badge-light {
    padding: 10px;
    font-weight: normal;
    background-color: #55C92B;
    color: white;
}

#forecast {
    margin-top: 15px;
}

#forecast .card {
    margin-bottom: 15px;
    padding: -10px;
    background-color: #007bff;
    color: white;
    min-height: 167px;
}

#forecast .card-title {
    font-size: 12pt;
    font-weight: 900;
}

#forecast img {
    margin-bottom: 10px;
}

#forecast .card-text {
    font-size: 9pt;
}

.search-history-item:hover {
    cursor: pointer;
}

.error {
    color: red;
    font-size: 8pt;
}